@import url('https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro&display=swap');

body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
	font-family: 'Quicksand', sans-serif;
}

h1, h2 {
	text-align: center;
}

h1 > img, h2 > img, h3 > img {
	height: 48px;
	width: auto;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

/* Navigation bar */
nav ul {
	list-style-type: none;
}

i.fa {
	font-size: 40px;
}

footer {
	text-align: center;
	background-color: #222;
	color: white;
	padding: 10px;
}

a {
	color: #599dd2;
	text-decoration: none;
}

a:hover {
	color: #599dd2;
	text-decoration: underline;
}

a.clean, a.btn, a.nav-link, a.dropdown-item {
	text-decoration: none;
}

blockquote {
	margin: 10px 20px;
	padding: 5px 10px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
	color: #777;
}

blockquote > p:last-of-type {
	margin-bottom: 0;
}

code {
	color: #212529;
	background-color: #e0e0e0;
	padding: 2px 4px;
	border-radius: 0.25rem;
}

#homehero {
	background-image: url(images/cedar-lake-minneapolis.jpg);
	height: 200px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

.clean {
	color: #222;
}

.header {
	color: white;
	padding: 60px 0px 0px 10px;
}

.site-icon {
	margin-right: 10px;
}

.grid-tile-outer {
	padding: 20px 10px;
}

.grid-tile {
	color: #222;
	background-color: #eee;
	transition: 0.2s;
	border-radius: 0.25rem;
	height: 100%;
}

a .grid-tile:hover {
	box-shadow: 0 0 10px #222;
}

.grid-tile a img{
	transition: 0.2s;
}

.grid-tile a img:hover {
	box-shadow: 0 0 10px #222;
}

.grid-label {
	/* margin: 30px; */
	padding: 10px 20px 0 10px;
	font-size: 17.5px;
}

.hidden {
	display: none;
}

.btn {
	margin: 3px;
}

.bg-bar {
	width: 100%;
	height: auto;
	left: 0;
}

.maxwidth {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	padding: 30px 0;
}

.discord {
	transition: 0.2s;
}
.discord:hover {
	box-shadow: 0 0 8px #222;
}

.circled {
	padding: 0 5px;
	border: #565758 solid 2px;
	border-radius: 1rem;
	background-color: #ECEDED;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #072f4f;
	color: white!important;
}

/* Image gallery */
.gallery-thumbnails {
	max-width: 512px;
}
.gallery-thumbnails img {
	width: 64px;
	margin: 3px 10px 10px 0;
	padding: 0;
	transition: 0.2s;
}
.gallery-thumbnails img:hover {
	box-shadow: #222 2px 2px 4px;
	cursor: pointer;
}
#preview {
	max-width: 90%;
	height: auto;
}

/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1 {
		font-size: 1.8em;
}
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 1.5em;
	}

	.site-title {
		margin-left: 0;
	}
}

