---
---

@import "{{ site.theme }}";

.btn {
	display:inline-block;
	padding: 6px 15px;
	margin: 2px;
	border: none;
	cursor: pointer;
	font-style: normal;
	font-size: 20px;
	color: #333;
	text-decoration: none;
	transition: .5s;
	background-color: #ddd;
}
.btn:hover {
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pfp {
	margin-bottom: -15px;
}

.inner {
	max-width: 960px;
}

.hidden {
	display: none;
}
