---
---

@import "{{ site.theme }}";

img {
    position: relative;
    margin: 0 auto;
    max-width: 739px;
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 1px solid #ebebeb;
    // box-shadow: 0 0 5px #ebebeb;
    // -webkit-box-shadow: 0 0 5px #ebebeb;
    // -moz-box-shadow: 0 0 5px #ebebeb;
    // -o-box-shadow: 0 0 5px #ebebeb;
    // -ms-box-shadow: 0 0 5px #ebebeb
}

.btn {
	display:inline-block;
	padding: 6px 15px;
	margin: 2px;
	border: none;
	cursor: pointer;
	font-style: normal;
	font-size: 20px;
	color: #333;
	text-decoration: none;
	transition: .5s;
	background-color: #ddd;
}
.btn:hover {
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pfp {
	margin-bottom: -15px;
}

.inner {
	max-width: 960px;
}

.hidden {
	display: none;
}
